<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {{ $favicon := resources.Get "favicon.ico" }}
    <link rel="icon" type="image/x-icon" href="{{ $favicon.Permalink }}" />
    <title>Tassos Bareiss</title>
    {{ $style := resources.Get "style.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Carter+One&family=Smokum&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Akronim&family=Bungee+Shade&family=Cabin+Sketch:wght@700&family=Caesar+Dressing&family=Cherry+Bomb+One&family=Ewert&family=Faster+One&family=Macondo&family=Monoton&family=Mynerve&family=Rock+3D&family=Rock+Salt&family=Rubik+Puddles&family=Tilt+Prism&family=Train+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-amber-100">
    <div class="mx-auto flex items-center flex-col">
      <!-- Second favorite title font.. -->
      <!-- <h1 class="text-9xl mt-4 font-title2 text-amber-950">Tassos Bareiss</h1> -->
      <a href="/">
        <h1 class="text-7xl mt-4 font-title text-amber-950 text-center">
          Tassos Bareiss
        </h1>
      </a>
      <ul class="flex justify-center mt-5 mb-3">
        <!-- <li class="mr-2">
          <a href="https://tassosbareiss.bandcamp.com/">
            <img
              alt=""
              fetchpriority="high"
              src="https://static.wixstatic.com/media/e9bad3a9dda24ecc98a51fd33aef63c8.png/v1/fill/w_88,h_88,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e9bad3a9dda24ecc98a51fd33aef63c8.png"
              style="width: 44px; height: 44px; object-fit: cover"
            />
          </a>
        </li> -->
        <li class="mr-2">
          <a href="https://www.instagram.com/tassosmusic/">
            <img
              alt=""
              fetchpriority="high"
              src="https://static.wixstatic.com/media/e1aa082f7c0747168d9cf43e77046142.png/v1/fill/w_88,h_88,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e1aa082f7c0747168d9cf43e77046142.png"
              style="width: 44px; height: 44px; object-fit: cover"
            />
          </a>
        </li>
        <li class="mr-2">
          <a href="https://www.youtube.com/@tassosbareiss">
            <img
              alt=""
              fetchpriority="high"
              src="https://static.wixstatic.com/media/45bce1d726f64f1999c49feae57f6298.png/v1/fill/w_88,h_88,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45bce1d726f64f1999c49feae57f6298.png"
              style="width: 44px; height: 44px; object-fit: cover"
            />
          </a>
        </li>
      </ul>
      <p>---><a href="/lyrics" class="font-bold">Lyrics</a><---</p>
    </div>

    {{ block "main" . -}}{{- end }}
  </body>
</html>
