@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

body {
  /* redudant with tailwind code in baseof.html, but for some reason necessary */
  background-image: url("./bosque-ditch-dirty.jpg");
}
