@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

/* Prevent hover effects on touch devices */
@media (pointer: coarse) {
  a:hover {
    all: revert-layer;
  }
}
