@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

body {
  background-image: url("tired-eyes-singles.png");
  background-size: cover;
}
