<div class="flex flex-col items-center">
  <h2 class="text-2xl font-sans font-bold mt-3 text-center">
    Winner of "Love Song for Las Cruces" Contest
  </h2>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/aZbLQOStAq4?si=BuJxNagVYazLXsfs"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <h2 class="text-2xl font-sans font-bold mt-3 text-center">
    2023 NPR Tiny Desk Submission
  </h2>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/R2qA27Wg6nI?si=ZHzbYyGeq8FeuA7k"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
