{{ define "main" -}}
<div class="flex flex-col items-center mt-2">
  <div class="w-11/12 max-w-[449px]">
    <a href="https://ffm.to/q4aavjm" target="_blank">
      {{ $tired_eyes := resources.Get "tired-eyes-singles-small.png" }}
      <div
        class="border border-dark-border rounded p-3 mt-4 flex items-center hover:scale-105 duration-75"
      >
        <img src="{{ $tired_eyes.Permalink }}" class="thumbnail" />
        <div class="ml-4">I Don't Think I Like You (single)</div>
      </div>
    </a>
    <a href="https://ffm.to/9qmerme" target="_blank">
      {{ $polly := resources.Get "polly-small.png" }}
      <div
        class="border border-dark-border rounded p-3 mt-4 flex items-center hover:scale-105 duration-75"
      >
        <img src="{{ $polly.Permalink }}" class="thumbnail" />
        <div class="ml-4">Polly the Drummer (single)</div>
      </div>
    </a>
    <a href="https://ffm.to/2ekp0po" target="_blank">
      {{ $postcard := resources.Get "postcard-small.jpg" }}
      <div
        class="border border-dark-border rounded p-3 mt-4 flex items-center hover:scale-105 duration-75"
      >
        <img src="{{ $postcard.Permalink }}" class="thumbnail" />
        <div class="ml-4">Postcard (EP)</div>
      </div>
    </a>
    <a
      href="https://www.youtube.com/embed/aZbLQOStAq4?si=BuJxNagVYazLXsfs"
      target="_blank"
    >
      {{ $visit_lc := resources.Get "visit-lc.jpg" }}
      <div
        class="border border-dark-border rounded p-3 mt-4 flex items-center hover:scale-105 duration-75"
      >
        <img src="{{ $visit_lc.Permalink }}" class="thumbnail" />
        <div class="ml-4">Love Song for Las Cruces (video)</div>
      </div>
    </a>
  </div>
  <div class="mx-auto mt-4 w-11/12 max-w-[450px]">
    <script
      async
      data-uid="947b51c09d"
      src="https://tassos.ck.page/947b51c09d/index.js"
    ></script>
  </div>

  <div class="mx-auto mt-6 mb-3">
    <div class="text-l">Contact: tassosbareiss@gmail.com</div>
  </div>
</div>

{{- end }}
